<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">
            <img src="assets/logo.png" style="width: 25%;">
            <h4>TOKYO 2021</h4>

        </div>

        <div class="col-sm-6">
            
            




           
        </div>

        <div class="col-sm-2" style="text-align: center;">
         
            <span style="font-weight: bold;"> Prijavljeni ste kao   delegat </span>
            <br/>
          <button class="button-39" (click)='odjava()' style="margin-top: 10px;" style="margin-bottom: 10px;">Odjavite se</button>
            
           

         
        </div>

    </div>


    <div class="row" style="background-color: rgb(245, 197, 197);">
        <div class="col-sm-4">


        </div>


        <div class="col-sm-4"  >

            <h2 > Olimpijske Igre Tokio <span style="color: rgb(146, 124, 0);">2021</span> </h2>
        </div>

    </div>

    <div class="row" style="background-color: rgb(139, 198, 235);">
        <div class="col-sm-4">

            <a style="color: black;" routerLink="/delegat">Nazad</a>

        </div>
        <div class="col-sm-4" style="text-align: center;">
        

           <span style="font-weight: bold;">Rezultati takmicenja</span> 

        
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        
        <div class="col-sm-8">
            <br/>
            <span *ngIf='bold==false && final==false ' style="font-weight: 500;">Rezultati su u formatu: {{format.format}}</span>
            <span *ngIf='bold==true && final==false ' style="color: red; font-weight: 900;">Rezultati su u formatu: {{format.format}}!</span>

            <table *ngIf='final==false && format.format!="broj" && format.format!="broj:broj"'>
                <tr>
                    <th>Takmicar</th>
                    <th *ngIf='format.pokusaji==1'>Rezultat</th>
                    <th *ngIf='format.pokusaji==3'>1.pokusaj</th>
                    <th *ngIf='format.pokusaji==3'>2.pokusaj</th>
                    <th *ngIf='format.pokusaji==3'>3.pokusaj</th>
                    

                </tr>
                <tr >

                    <td><select name="takmicar" [(ngModel)]='takmicar'>
                        <option *ngFor='let s of sportisti' value="{{s.idS}}">{{s.ime_i_prezime}}</option>
                    </select></td>

                    <td><input type="text" name="rezultat" [(ngModel)]='rezultat' style="width: 80px;"></td>
                    <td><input type="text" name="rezultat2" [(ngModel)]='rezultat2' *ngIf="format.pokusaji==3" style="width: 80px;"></td>
                    <td><input type="text" name="rezultat3" [(ngModel)]='rezultat3' *ngIf="format.pokusaji==3" style="width: 80px;"></td>

                    
                </tr>
                
            

            </table>
            <br/>
            <span *ngIf='final==false'>{{serija}}</span>
            <table *ngIf='final==false && format.format=="broj"'>

                <tr>
                    <th>Takmicar</th>

                    <th>Rezultat</th>

                </tr>

                <tr *ngFor='let s of sportisti'>
                    <td>{{s.ime_i_prezime}}</td>
                    <td><input type="text" name="rezultat_strelj" [(ngModel)]='s.rezultat' style="width: 80px;"></td>
                </tr>
            </table>


            <span *ngIf='takmicenje.konkurencija!="individ" && takmicenje.status=="grupna"' style="font-weight: 700;">Grupna faza</span>
            <span *ngIf='takmicenje.konkurencija!="individ" && takmicenje.status=="cetvrt"' style="font-weight: 700;">Cetvrt finale</span>
            <span *ngIf='takmicenje.konkurencija!="individ" && takmicenje.status=="polu"' style="font-weight: 700;">Polu finale</span>
            <span *ngIf='takmicenje.konkurencija!="individ" && takmicenje.status=="finale"' style="font-weight: 700;">Finale</span>
            <span *ngIf='takmicenje.konkurencija!="individ" && takmicenje.status=="trece"' style="font-weight: 700;">Trece mesto</span>

            
            <table *ngIf='format.format=="broj:broj"'>

                <tr>
                    <th>Utakmica</th>

                    <th>Rezultat</th>

                </tr>

                <tr>
                    <td>
                        <select name="utakmica" [(ngModel)]='utakmica'>
                            <option *ngFor='let u of utakmice' value="{{u}}">{{u}}</option>
                        </select>
                    </td>
                    <td><input type="text" name="rezultatUtak" style="width: 30%;" [(ngModel)]='rezultat_utakmice'></td>
                </tr>
            </table>



            <button class="button-45" (click)='unesi_ekipni()' *ngIf='(final==false) && format.format=="broj:broj"'>Unesite rezultate</button> 
            
            <button class="button-45" (click)='unesi()' *ngIf='(final==false) && (format.format!="broj") && format.format!="broj:broj"'>Unesite rezultate</button> 
            <span *ngIf='final==true' style="color:crimson; font-weight: 700;" >Svi rezultati su uspesno uneti!</span>
            
            
           &nbsp; &nbsp; <button class="button-45" *ngIf='final==true && format.pokusaji!=6' (click)='rangiraj()'>Rangiraj</button>
           <button class="button-45" *ngIf='final==true && format.pokusaji==6' (click)='rangiraj_streljace()'>Rangiraj</button>

            <button class="button-45" (click)='unesi_streljastvo()' *ngIf='(final==false) && (format.format=="broj")'>Unesite rezultate</button>
            <br/>
           <span style="color: red; font-weight: 900;"> {{poruka}}</span>
        </div>

    </div>

</div>