<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">
            <img src="assets/logo.png" style="width: 25%;">
            <h4>TOKYO 2021</h4>

        </div>

        <div class="col-sm-6">



           
        </div>

        <div class="col-sm-2">
            <h6> <a routerLink="prijava" class="pocetni_linkovi">Prijava na sistem</a> </h6>
          
            <h6><a routerLink="lozinka" class="pocetni_linkovi">Promenite lozinku</a> </h6>
            
            <h6><a routerLink="registracija" class="pocetni_linkovi">Nemate nalog?</a> </h6>
           

         
        </div>

    </div>


    <div class="row" style="background-color: rgb(245, 197, 197);">
        <div class="col-sm-4">


        </div>


        <div class="col-sm-4"  >

            <h2> Olimpijske Igre Tokio <span style="color: rgb(146, 124, 0);">2021</span> </h2>
        </div>

    </div>

    <div class="row" style="background-color: rgb(139, 198, 235);">
        <div class="col-sm-4">


        </div>
        <div class="col-sm-4"  style="text-align: center;">
          
         <a routerLink="zemlje" style="color: black;">Zemlje ucesnice</a>
            &nbsp;
         |
         &nbsp;
         <a routerLink="medalje" style="color: black;">Osvojene medalje</a>
         &nbsp;
         |
         &nbsp;
         <a routerLink="sportisti" style="color: black;">Sportisti</a> 

        </div>
    </div>
   


</div>